<ul class="footer-links">
    <li><a href="https://puppydataserver.com/account/login" class="footer-link">login</a></li>
    <li><a href="https://puppydataserver.com/account/signup" class="footer-link">register</a></li>
    <li><a href="https://puppydataserver.com/account/migrate" class="footer-link">migrate</a></li>
    <li><a href="https://puppydataserver.com/account/reset" class="footer-link">reset password</a></li>
</ul>