<nav class="nav">
    <div class="nav-inner">
        <a href="/" class="nav-brand">
            <img class="nav-logo" src="/img/256x.png" alt="PuppyDataServer">
            <span>PuppyDataServer</span>
        </a>
        <ul class="nav-links">
            <li><a href="https://tangled.org/futur.blue/pegasus" class="nav-link" target="_blank" rel="noopener"><span>pegasus</span></a></li>
            <li><a href="https://github.com/mxve/puppydataserver" class="nav-link" target="_blank" rel="noopener"><span>source</span></a></li>
        </ul>
    </div>
</nav>